<%= stylesheet_link_tag "book", :media => "all" %>

<section id="content">
<header>
  <h2>Book's Show Page</h2>
</header>

<div id="outline">
  <p id="notice"><%= notice %></p>

  <h3 class="caption">Outline</h3>
    <ul>
      <li><strong>Title:</strong><%= @book.title %></li>
      <li><strong>Author:</strong><%= @book.author %></li>
    </ul>
  </div>

  <div id="detail">
    <h3 class="caption">Other's Books List</h3>
    <% @abooks.each do |abook| %>
    <dl class="info">
      <dt><strong><%= abook['title'] %></strong></dt>
      <dd><%= abook['desc'].eql?('none') ? "-" : abook['desc'] %></dd>
      <dd><%= abook['pub'].eql?('none') ? "-" : abook['pub'] %></dd>
      <dd><%= abook['date'].eql?('none') ? "-" : abook['date']  %></dd>
      <dd><%= abook['page'].eql?('none') ? "-" : abook['page']  %></dd>
      <dd><%= abook['image'].eql?('none') ? "-" : abook['image']  %></dd>
      <dd><%= abook['price'].eql?('none') ? "-" : abook['price']  %></dd>
    </dl>
    <br>
    <% end %>
  </div>

  <footer>
    <%= link_to 'Edit', edit_book_path(@book) %>
    <%= link_to 'Back', books_path %>
  </footer>
</section>
